    <div class="row pt-2">
        <div class="col-4">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="col-8">
            <h1>Welcome to the Video Game Room!</h1>
        </div>
        <div class="col-6 bg-image"></div>
        <div class="col-6">
            <div class="mc-server-link">
                <img src="/assets/images/gaming/arisia_minecraft.png" width="100%" alt="arisia logo in the style of minecraft logo" />
            </div>
            <p>
                We’re running a Minecraft server! It’s staffed with helpers 10am-10pm (hours subject to change). The server address is <strong>minecraft.arisia.org</strong>.<br>
                To join an external server, follow the instructions on <a href="https://minecraft.gamepedia.com/Tutorials/Playing_on_servers">this Minecraft wiki page.</a>
            </p>
            <p>
                Throughout the weekend, we will run sessions of various Jackbox games and also Among Us for the community to participate in. They will run on Zoom. The links are posted in the schedule.
            </p>
            <p>
                Want to play another game with your friends from Arisia? Use the #lfg-video-games channel on Discord to search for a group. Game ratings allowed: E, E10+, T
            </p>
            <p>
                Keep in mind that on the Minecraft server, in community games, and in pickup games, the <a href="https://www.arisia.org/Code-of-Conduct" target="_blank" >Arisia Code Of Conduct</a> applies. This means that if you participate in griefing or trolling, Arisia will treat that behavior as if it happened in person, at the convention. Be nice.
            </p>
        </div>
    </div>
