<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <div class="bg-image">
    <div class="row">
        <div class="col-8 offset-4">
            <h1>Welcome to the Video Game Room!</h1>
        </div>
        <div class="col-6 offset-6">
            <p>
            Copy will go here.</p>
            <div class="mc-server-link">
                <img src="/assets/images/gaming/arisia_minecraft.png" width="100%" alt="arisia logo in the style of minecraft logo" />
                <span>Join the Minecraft server!</span>
            </div>
        </div>
    </div>
  </div>
</div>
