<app-breadcrumb></app-breadcrumb>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let room of rooms$ | async">
    <div class="name">{{room.name}}</div>
    <div class="room" routerLink="/programming/{{room.id}}">
      <div class="door-box">
        <img src="{{room.doorArt}}" class="door">
      </div>
      <div *ngIf="room.runningEvents$ | async as runningEvents" class="events">
        <div class="event-title real" *ngIf="runningEvents.current; else noEvent">Currently:<br>{{runningEvents.current.title}}</div>
        <div class="event-title real" *ngIf="runningEvents.next; else noEvent">{{runningEvents.next.getTimeString()}}:<br>{{runningEvents.next.title}}</div>
        <ng-template #noEvent><div class="event-title"></div></ng-template>
      </div>
    </div>
  </div>
</div>
