<div class="content" (click)="expanded = !expanded || alwaysExpanded" [ngClass]="{'expanded': expanded}" tabindex="0" role="link">
  <div class="base_item">
    <div class="name">{{person.name}}</div>
    <div class="floating expando">
      <svg *ngIf="expanded" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
      </svg>
      <svg *ngIf="!expanded" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
  </div>
  <div class="extra" *ngIf="expanded">
    <p [innerHTML] = "person.bio | sanitizeHtml | linkify"></p>
    <app-item-list [events]="person.events$ | async"></app-item-list>
    <app-duck duckId="4" *ngIf="person.id === '108383'"></app-duck>
  </div>
</div>
