<div class="container">
  <div class="row" *ngIf="runningEvents">
    <div class="col-12 col-md-4 col-lg-4 col-xl-3">
      <div class="row" contents>
        <app-breadcrumb lastCrumbName="Performance Hall"></app-breadcrumb>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-8 col-xl-9"></div>
    <div class="d-md-none col-2"></div>
    <div class="col-8 col-md-6 col-lg-3 now-playing-column contents">
      <div class="now-playing-box">
        <div class="now-playing-aspect-ratio-helper"></div>
        <div class="now-playing-text">
          <ng-container *ngIf="runningEvents?.current as current">
            <div class="contents now-playing-now" *ngIf="runningEvents.started">Now playing:</div>
            <div class="contents now-playing-now" *ngIf="!runningEvents.started">About to start:</div>
            <div class="contents now-playing-title">{{current.title}}</div>
          </ng-container>
          <ng-container *ngIf="runningEvents?.next as next">
            <div class="contents now-playing-next">{{next.getTimeString()}}: {{next.title}}</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="d-lg-none col-2"></div>
    <div class="col-12 col-lg-9">
      <div class="embedding-box contents">
        <div class="embedding-aspect-ratio-helper"></div>
        <ng-container *ngIf="runningEvents?.current as current; else next">
          <ng-container *ngIf="runningEvents?.started; else notstarted">
            <ng-container *ngIf="url; else noperformance">
              <div class="embedding contents" *ngIf="runningEvents?.current?.performance as performance; else noperformance">
                <iframe class="iframe"
                        #iframe
                        [src]="url"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>
            </ng-container>
            <ng-template #noperformance>
              <div *ngIf="runningEvents?.current as current; else next" class="embedding contents">
                <div class="screen-text">
                  Missing embedded data.
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-template #notstarted>
            <div class="embedding contents">
              <div class="screen-text">
                About to start:<br>
                {{current.title}}
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #next>
          <div class="embedding contents">
            <div class="screen-text">
              <ng-container *ngIf="runningEvents && runningEvents.next as next">
                Next up at {{next.getTimeString()}}:<br>
                {{next.title}}
              </ng-container>
            </div>
          </div>
        </ng-template>
        <ng-template #noevent>
          That's that's that's all folks!
        </ng-template>
      </div>
      <div class="links">
        <span class="discord link contents">
          Chat on Discord: #performance-hall
        </span>
        <span class="backup link contents">
          <a href="#" (click)="$event.preventDefault();openExternal()" *ngIf="runningEvents?.started && runningEvents.current.performance">
            Open on {{platform}}</a>
        </span>
      </div>
    </div>
  </div>

</div>


<!-- Background -->
<div class="background full"></div>
<img src="/assets/images/light-left.png" class="background light left">
<img src="/assets/images/light-right.png" class="background light right">
<div class="background top-row-seats"></div>
<div class="background row-seats"></div>
