:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262626;
}

.contents {
    z-index: 10;
}

.now-playing-aspect-ratio-helper {
    height: 0;
    width: 100%;
    padding-top: #{412 / 594 * 100%};
    background: url("/assets/images/now-playing.png") center top/contain no-repeat;
}

.now-playing-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 -15px;
    padding: 0 0;
}

.now-playing-box {
    width: 100%;
    position: relative;
}

.now-playing-text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.now-playing-now, .now-playing-title {
    font-size: 1.5rem;
}

.now-playing-next {
    font-size: 1.125rem;
}


.test {
    height: 0;
}

.embedding-box {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.embedding-aspect-ratio-helper {
    height: 0;
    width: 100%;
    padding-top: #{9 / 16 * 100%};
}
.embedding {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.links {
    margin-top: 1.75rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link {
    color: white;
    background: #400202;
}

// Background

.light.left {
    left: 0;
}

.background {
    z-index: 0;
}

.light.right {
    right: 0;
}

.light {
    position: absolute;
    top: 7.5rem;
    width: 9.375rem;
    height: 20rem;
}

$seat-top: 32rem;
$first-row-height: 3rem;
$chair-width: 9.125rem;

.top-row-seats {
    position: absolute;
    top: $seat-top;
    left: 0;
    height: $first-row-height;
    width: 100%;
    background: url("/assets/images/chair-top.png") center top / #{$chair-width} #{$first-row-height} repeat-x
}

$row-top: $seat-top + $first-row-height;
$row-height: 5.96875rem;

.row-seats {
    position: absolute;
    top: $row-top;
    left: 0;
    height: calc(100% - #{$row-top});
    width: 100%;
    background: url("/assets/images/chair-row.png") center top / #{$chair-width} #{$row-height} repeat
}
