<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4 col-xl-3">
      <div class="row" contents>
        <app-breadcrumb lastCrumbName="Performance Hall"></app-breadcrumb>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-8 col-xl-9"></div>
    <div class="d-md-none col-2"></div>
    <div class="col-8 col-md-6 col-lg-3 now-playing-column contents">
      <div class="now-playing-box">
        <div class="now-playing-aspect-ratio-helper"></div>
        <div class="now-playing-text">
          <div class="contents now-playing-now">Now playing:</div>
          <div class="contents now-playing-title">Title of Event</div>
          <div class="contents now-playing-next">Coming next: title of event</div>
        </div>
      </div>
    </div>
    <div class="d-lg-none col-2"></div>
    <div class="col-12 col-lg-9">
      <div class="embedding-box">
        <div class="embedding-aspect-ratio-helper"></div>
        <div class="embedding contents" style="background:#c4c4c4">
          Add embedding object.
        </div>
      </div>
      <div class="links">
        <span class="discord link contents">
          Chat on Discord: #performance-hall
        </span>
        <span class="backup link contents">
          Embedded video for main/featured performance
        </span>
      </div>
    </div>
  </div>

</div>


<!-- Background -->
<img src="/assets/images/light-left.png" class="background light left">
<img src="/assets/images/light-right.png" class="background light right">
<div class="background top-row-seats"></div>
<div class="background row-seats"></div>
