.secret-directions {
    font-size: 0.75rem;
    font-style: italic;
}

.secret-box {
    display: flex;
    height: 5.25rem;
    max-width: 42rem;
    width: 100%;
    border: 0.25rem solid black;
    font-size: 1.125rem;
    padding: 0 1rem;
    position: relative;
    align-items: center;
}

.secret-text {
    overflow: hidden;
    flex-grow: 1;
}

.secret-button {
    margin-left: 1rem;
    min-width: 5rem;
}
