.note {
    font-size: 0.75rem;
    font-style: italic;
}

hr {
    background: black;
    margin-bottom: 0.25rem;
}

.header {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}
