<div class="user" *ngIf="(user$ | async) as user">
    <h1>Profile Page for {{user.name}} ({{user.badgeNumber}})</h1>
    <app-duck-list [duckIds]="user.ducks" [isSelf]="user.self"></app-duck-list>
    <div *ngIf="user.self">
      <hr>
      <div class="note">Note: Your schedule and settings are not visible to others when you share your profile URL.</div>
      <div class="header">My Setup</div>
      <app-settings></app-settings>
      <div class="header">Arisia Discord</div>
      <app-discord></app-discord>
    </div>
</div>
