<div class="row pt-3">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Tournaments and Special Games</h1>
        <p>Tournaments will take place on Board Game Arena, and special games will use a variety of platforms/formats.<br/>
        If you sign up for a thing, the participation information will be sent to your email and/or Gail will rewrite this copy.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <app-callout-box>
            <div class="callout-box-title">
                Friday Tournament
            </div>
            <div class="callout-box-body">
                Info here
            </div>
            <div class="callout-box-links">
                Links
            </div>
        </app-callout-box>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <app-callout-box>
            <div class="callout-box-title">
                Saturday Tournament
            </div>
            <div class="callout-box-body">
                Info here
            </div>
            <div class="callout-box-links">
                Links
            </div>
        </app-callout-box>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <app-callout-box>
            <div class="callout-box-title">
                Midnight Encounters
            </div>
            <div class="callout-box-body">
                Info here
            </div>
            <div class="callout-box-links">
                Links
            </div>
        </app-callout-box>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <app-callout-box>
            <div class="callout-box-title">
                Space Cats
            </div>
            <div class="callout-box-body">
                Info here
            </div>
            <div class="callout-box-links">
                Links
            </div>
        </app-callout-box>
    </div>
</div>
