<div  class="creator card">
  <a class="link uncolored"  [routerLink]="'/' + component + '/' + creator.id">
    <img [src]="creator.images[0].url" class="card-img-top" [alt]="creator.images[0].alt" />
    <div class="card-body link">
      <h5 class="card-title">{{creator.name}}</h5>
      <p class="card-text">{{creator.summary}}</p>
    </div>
  </a>
  <ul class="list-group list-group-flush" *ngIf="creator.links">
    <!-- TODO fix possessive pluralization s's case-->
    <a class="link" [href]="creator.links[creator.links.preferred]" target="_blank">
      <li class="list-group-item">{{creator.name}}'s {{nameFromLinkType(creator.links.preferred)}}</li>
    </a>
  </ul>
</div>
