<div class="modal-header">
  <h4 class="modal-title">INCIDENT REPORT TEAM</h4>
</div>
<div class="modal-body">
  <p>
    The IRT is specifically tasked with intaking and addressing any
    reports of violation of the Code of Conduct or other member
    behavior issues. At any time, you can: <br>

    <a href="https://docs.google.com/forms/d/12IdGCZJs9GBzaxvvfiK2wOti02WJZTSZNBg-DITpyVQ/edit" target="_blank">File a report using the online form.</a><br>

    <a href="mailto:incidents@arisia.org">File a report at incidents@arisia.org.</a>
  </p>

  <p>
    You can also <a href="https://discord.gg/arisia21" target="_blank">speak with an IRT staff member on Discord</a> in the #irt-hall-desk channel during the following hours:<br>
    Friday 6pm-10pm EST<br>
    Saturday 10am-6pm EST<br>
    Sunday 10am-6pm EST<br>
    Monday 10am-3pm EST
  <p>
    More information about what to expect when reporting is <a href="https://www.arisia.org/ProblemReporting" target="_blank">available here</a>.
  </p>
  <p>
    To get help with other issues or concerns, contact <span (click)="switchToSafety()" class="link-alike">Safety</span>.
  </p>
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="activeModal.dismiss('Close click')">
    Close
  </button>
</div>
