.setting {
    display: flex;
    align-items: first baseline;
}

.label-box {
    padding-left: 0.5rem;
}

.note {
    font-size: 0.75rem;
    font-style: italic;
}

:host {
    display: block;
    margin-bottom: 1rem;
}
