<div class="container">
  <div class="bg-image">
    <div class="row pt-3">
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="col-12 col-lg-8 col-xl-9">
            <h1>LARP @ Arisia</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <h3>Participation Info:</h3>
            <app-callout-box class="m-1 p-2">
                Link to larp safety doc
            </app-callout-box>
            <app-callout-box class="m-1 p-2">
                If you have signed up for...
            </app-callout-box>
            <app-callout-box class="m-1 p-2">
                Missed signup?
            </app-callout-box>
        </div>
        <div class="col-12 col-md-7 col-lg-4 col-xl-5">
            Info on each larp will go here.
        </div>
    </div>
  </div>
</div>
