.bg-image {
    background-image: url('/assets/images/gaming/larp_background.png');
    background-size: cover;
    height: 600px;
    background-position: right top;
    background-repeat: no-repeat;
}
