.link-alike:hover {
    color: #0056b3;
    text-decoration: underline;
}

.link-alike {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.definition {
    color: inherit;
    text-decoration: underline;
}
.definition:hover {
    color: inherit;
    text-decoration: underline;
}
