<div class="modal-header">
  <h4 class="modal-title">SAFETY</h4>
</div>
<div class="modal-body">
  <p>
    <a href="https://arisia.org/TheWatch" target="_blank"
    class="definition">The Watch</a> aims to be a group you can come
    to in any situation you are concerned about to be a safe person to
    help.  This continues to be our main purpose for the online
    convention this year.  We are here to provide support for issues
    of cyber bullying and online fraud that arise in our remote
    spaces.
  </p>
  <p>
    <a href="https://discord.gg/arisia21" target="_blank">If you need to talk to a Safety staff member, you can do so on
    Discord</a> in the #safety channel or email <a href="mailto:safety@arisia.org">safety@arisia.org</a>.
  </p>
  <p>
    To report a Code of Conduct violation or other member behavior
    issues, contact the  <span (click)="switchToIrt()" class="link-alike">IRT</span>.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="activeModal.dismiss('Close click')">
    Close
  </button>
</div>
