<div class="container content">
  <div class="over-couch">
    <div class="row header">
      <div class="col-12 col-lg-3">
        <app-breadcrumb lastCrumbText="Social Spaces"></app-breadcrumb>
      </div>
      <div class="col-12 col-lg-9">
        <div class="title">Hanging Out at Arisia</div>
        <div class="options">This year there are options to connect with other Arisians through chat or with voice/video.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
      </div>
      <div class="zoom section col-12 col-lg-6 mt-3 mt-lg-0">
        <div class="link">
          <div class="link-text">
            Click here for voice/video social spaces on Zoom
          </div>
        </div>
        <div class="section-header">
          <img src="assets/images/Zoom_Communications_Logo.svg" class="zoom-logo">
          Breakout Rooms to look for:
        </div>
        <div class="section-options">
          General Chat: Con Suite tables  (1, 2, 3...)<br>
          Tween Lounge
        </div>
      </div>
      <div class="discord section col-12 col-lg-5 mt-3 mt-lg-0">
        <div class="link">
          <div class="link-text">
            Click here for text-based social spaces on Discord
          </div>
        </div>
        <div class="section-header">
          <img src="assets/images/Discord-Logo+Wordmark-Color.svg" class="discord-logo">
          Channels to look for:
        </div>
        <div class="section-options">
          <div class="gen-chat-helper">
            General Chat:&nbsp;
            <div class="gen-chat">
              #consuite<br>
              #mezzanine
            </div>
          </div>
          Gaming and LARP Groups: #looking-for-players<br>
          Safer Spaces: go to #start-here for details<br>
          Fan Tables: Fan table category<br>
          <div class="fan-tables">
            #discon-3<br>
            #seattle-2025<br>
            #boskone-58<br>
            #weather-is-happening<br>
            #capclave<br>
            #heinlein-society<br>
            #saturday-morning-contunes<br>
            #extra-life-boston<br>
            #geek-merchants-guild<br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/couch.png" class="couch d-none d-lg-block">
</div>
<div class="floor d-none d-lg-block">
</div>
