@(permissions: arisia.models.Permissions)

@main("Arisia Admin") {
  <h1>Arisia Site Admin</h1>

  @if(permissions.superAdmin) {
    <h2><a href="/admin/manageAdmins">Manage Admins</a></h2>
    <h2><a href="/admin/rooms">Manage Zoom Rooms</a></h2>
  }

  <h2><a href="/admin/manageEarlyAccess">Manage Early Access</a></h2>
  <h2><a href="/admin/manageTech">Manage Tech</a></h2>
  <h2><a href="/admin/ducks">Manage Ducks</a></h2>
  <h2><a href="/admin/ribbons">Manage Ribbons</a></h2>
  <h2><a href="/test/scheduleItem">Add Test Schedule Item</a></h2>
  <h2><a href="/admin/manageMetadata">Manage Metadata</a></h2>
}
