@(people: List[arisia.models.LoginId], newPersonForm: Form[arisia.models.LoginId])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@managePermissionTemplate(
  people,
  newPersonForm,
  "Early Access",
  "/admin/manageEarlyAccess/"
) {
  @b4.horizontal.form(arisia.controllers.routes.AdminController.addEarlyAccess(), "col-md-2", "col-md-10") { implicit hfc =>
    @b4.text(newPersonForm("username"), Symbol("_label") -> "Username", Symbol("placeholder") -> "Login username from Registration")
  }
}
