@(admins: List[arisia.models.LoginId], newAdminForm: Form[arisia.models.LoginId])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Arisia Admin - Manage Admins") {
  <h1>Manage Admins</h1>

  <p>The currently-known Admins are:</p>

  <ul>
    @for(admin <- admins) {
      <li>@{admin.v}
        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#removeModal" data-confirmid="@{admin.v}">Remove</button>
      </li>
    }
  </ul>

  <p>Add another Admin:</p>

  @helper.form(action = arisia.controllers.routes.AdminController.addAdmin()) {
    @helper.inputText(newAdminForm("username"))
  }

  @*
   * Confirm dialog for removing an Admin.
   *@
  <div class="modal fade confirmModal" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmRemoveLabel">Confirm Remove Admin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Please confirm: remove Admin privileges from <span class="modal-body-id"></span>?</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger confirmed-button" id="remove-admin-button">Remove Admin</button>
        </div>
      </div>
    </div>
  </div>
}
