@(
  rooms: List[arisia.models.ZoomRoom]
)(
  implicit request: RequestHeader, messagesProvider: MessagesProvider
)

@main("Manage Zoom Rooms") {
  <h1>Manage Zoom Rooms</h1>


  <table id="roomTable" class="display dataTable" style="width: 100%">
      <thead>
        <tr>
            <th>ID</th>
            <th>Display Name</th>
            <th>Zoom User ID</th>
            <th>Zambia Room Name</th>
            <th>Discord Channel Name</th>
            <th>Manual</th>
            <th>Webinar</th>
        </tr>
      </thead>
      <tbody>
        @for(room <- rooms) {
          <tr>
              <td><a href="/admin/editRoom/@{room.id}">@{room.id}</a></td>
              <td>@{room.displayName}</td>
              <td>@{room.zoomId}</td>
              <td>@{room.zambiaName}</td>
              <td>@{room.discordName}</td>
              <td>@{room.isManual}</td>
              <td>@{room.isWebinar}</td>
          </tr>
        }
      </tbody>
  </table>

  <a class="btn btn-primary" href="/admin/createRoom">Add another Zoom Room</a>
}
