@(admins: List[arisia.models.LoginName], newAdminForm: Form[arisia.models.LoginName])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Arisia Admin - Manage Admins") {
  <h1>Manage Admins</h1>

  <p>The currently-known Admins are:</p>

  <ul>
    @for(admin <- admins) {
      <li>@{admin.v}</li>
    }
  </ul>

  <p>Add another Admin:</p>

  @helper.form(action = arisia.controllers.routes.AdminController.addAdmin()) {
    @helper.inputText(newAdminForm("username"))
  }
}
