@(
  people: List[arisia.models.LoginId],
  newPersonForm: Form[arisia.models.LoginId],
  permName: String,
  baseUrl: String
)(
  addForm: Html
)(
  implicit request: RequestHeader, messagesProvider: MessagesProvider
)

@import helper._

@main(s"Arisia Admin - Manage $permName") {
  <h1>Manage @permName</h1>

  <p>The people with @permName are:</p>

  <ul>
    @for(person <- people) {
      <li>@{person.v}
        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#removeModal" data-confirmid="@{person.v}">Remove</button>
      </li>
    }
  </ul>

  <p>Give another person @permName:</p>

  @addForm

  @*
   * Confirm dialog for removing this permission.
   *@
  <div class="modal fade confirmModal" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmRemoveLabel">Confirm Remove @permName</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Please confirm: remove @permName privileges from <span class="modal-body-id"></span>?</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger confirmed-button" id="remove-button"
                  data-baseurl="@baseUrl">Remove @permName</button>
        </div>
      </div>
    </div>
  </div>
}
