<app-breadcrumb [crumbsOverride]="crumbsOverride$ | async"></app-breadcrumb>
<div class="row">
    <div class="col-12">
        <h1 class="h1 text-center">Welcome to the Art Show!</h1>
    </div>
    <div class="col-md-4 col-12">
        <app-callout-box>
            <div class="callout-box-title">
                Art Show Tours
            </div>
            <div class="callout-box-body">
                <p>
                    Guest of Honor Tour: Day/Time, link<br/>
                    Descriptive Tour: Day/Time, link
                </p>
            </div>
            <div class="callout-box-title">
                Chat with Artists!
            </div>
            <div class="callout-box-body">
                <p>
                    Schedule: link<br/>
                    Zoom: <a href="#" appPersistentRoomLink="artists">link</a>
                </p>
            </div>
            <div class="callout-box-title">
                Vote on the Popular Choice Award!
            </div>
            <div class="callout-box-body">
                <p>
                    <a href="https://docs.google.com/forms/d/1bKIrWquuPKYR1vMeUMPpzhmINk0Ro1Bilteh0L_N9nQ/edit?usp=sharing" target="_blank">Go to Ballot</a>
                </p>
            </div>

      </app-callout-box>
    </div>
    <div class="col-md-8 col-12">
        <div class="row">
            <div class="col-12">
                <div class="art-show-copy">
                    <p>Click on an artist to view their Art Show gallery.
                        (Please be aware that the art displayed may already have been sold.)</p>
                    <p>You can also use the link below each artist's name to jump directly to
                        their preferred web presence.</p>
                </div>
            </div>
        </div>
        <div class="search-title">Artists by name</div>
        <app-alphabet-links [search]="search$ | async" [initials]="artistService.initials$ | async" [includeGoh]="true" urlPrefix="/artshow/search"></app-alphabet-links>
    </div>
</div>
<app-creator-list [creators]="artists$ | async"></app-creator-list>
