<div class="row pt-3">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-12">
        <h1>Welcome to the Gaming Tables!</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-8 col-xl-9 order-1 order-md-2">
       <p> The Tabletop Gaming room is on Zoom and Discord this year! For a thorough overview of everything going on this year in Tabletop, check out this <a href="https://arisia.org/Gaming" target="_blank"> page </a> including video tutorials. </p>


        <div> Zoom link: <div class="link" tabindex=0 role="link" appPersistentRoomLink="gaming">Gaming Zoom</div></div>

    
        <p> Discord: <a href="https://discord.gg/arisia21"> Server Invite </a> </p>
        <ul>
            <li>Main Channel: #main-gaming-chat </li>
            <li>Trying to join a game? Try #looking-for-players</li>

        </ul>
        <p>If you&apos;re looking for a game you signed up for, enter the Zoom or Discord chat and staff or game runners will direct you.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 order-2 order-md-1">
        <app-callout-box>
            <div class="callout-box-title">
                Game Tables - <br/>
                Links to resources
            </div>
            <div class="callout-box-links">
               <a href="https://en.boardgamearena.com/lobby"> Board Game Arena </a>
            </div>
            <div class="callout-box-links">
                <a href="https://tabletopia.com/"> Tabletopia</a>
            </div>
        </app-callout-box>
    </div>
</div>
