<div class="row pt-3">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-12">
        <h1>Some stuff will go here</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-8 col-xl-9 order-1 order-md-2">
        This will be some copy explaining gaming. Maybe with video links
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 order-2 order-md-1">
        <app-callout-box>
            <div class="callout-box-links">
                Link to BGA
            </div>
            <div class="callout-box-links">
                Link to TT
            </div>
        </app-callout-box>
    </div>
</div>
