@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.login {
    font-size: 2rem;
    background: white;
}

.login-group {
    padding-top: 2rem;
}

.note {
    font-size: .8125rem;
    font-style: italic;
}

.forgot {
    font-size: .8125rem;
}

.form-group.password {
    margin-bottom: 0.125rem;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, white 40%, #DFDAD0 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.contents {
    position: relative;
    height: 43.75rem;
    z-index: 2;
}

$art-padding: 28.75rem;

.art {
    height: 43.75rem;
    left: 0;
    position: absolute;
    top: 0;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.title {
    font-size: 2.25rem;
    padding-bottom: 3.25rem;
    padding-top: 7.5rem;
    padding-left: .75rem + $art-padding;
    padding-right: .75rem;
    text-align: center;
    width: 100%;

    @include media-breakpoint-down(lg) {
        padding-left: $art-padding;
        padding-right: 0;
    }
    @include media-breakpoint-down(md) {
        padding-left: 0.75rem;
    }
}

.content, .footer {
    padding-left: 4.75rem + $art-padding;
    padding-right: 4.75rem;

    @include media-breakpoint-only(lg) {
        padding-left: 3rem + $art-padding;
        padding-right: 3rem;
    }
    @include media-breakpoint-only(md) {
        padding-left: 4.75rem;
    }
    @include media-breakpoint-down(sm) {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.footer {
    font-size: 1.125rem;
    left: 0;
    line-height: 2rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.footer-container {
    bottom: 0;
    height: 5.25rem;
    left: 0;
    position: absolute;
    width: 100%;
}
