<div class="contents">
  <img *ngIf="!justLoggedOut; else justLoggedOutArt" src="assets/images/login.png" class="art">
  <ng-template #justLoggedOutArt>
    <img src="assets/images/logout.png" class="art">
  </ng-template>

  <div class="title" *ngIf="!justLoggedOut; else justLoggedOutTitle">
    Log in to Arisia 2021!
  </div>
  <ng-template #justLoggedOutTitle>
    <div class="title">
      Thank you for attending Arisia&nbsp;2021!
    </div>
  </ng-template>
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && (f.username.errors || submissionError) }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group password">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && (f.password.errors || submissionError) }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        <div *ngIf="submitted && submissionError" class="invalid-feedback">
          Your Username or Password was incorrect. Please try again. If the problem persists, email <a href="mailto:registration@arisia.org">registration@arisia.org</a>.
        </div>
      </div>
      <div class="form-group">
        <div class="note">Note: your username and password are the same ones you use for registration.</div>
        <a class="forgot" (click)="onForgot()">I forgot my username and/or password.</a>
      </div>
      <div class="form-group align-center login-group">
        <button [disabled]="loading" class="btn btn-outline-dark mx-auto d-block px-5 login">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Log In
        </button>
      </div>
    </form>
    <div class="footer-container">
      <div class="footer">
        Don’t have a membership? 
        <br>
        <a href="https://arisia.org/Registration" target="_blank">Click here for information on attending the&nbsp;remote&nbsp;con</a>.
      </div>
    </div>
  </div>
</div>
<div class="background">
</div>
