<div class="modal-header">
  <h4 class="modal-title">HELP DESK</h4>
</div>
<div class="modal-body">
  <p>
    The folks at help desk are here to help with any general or
    technical questions you have while attending remote Arisia!
  </p>

  <p>
    If you are looking for information about using the remote site or
    attending programming virtually, <a routerLink="/help">click here</a> to access the Info
    pages.<br>

    If you would like to chat with someone who can help you, <a href="#" appPersistentRoomLink="help">you can
    do so via video (Zoom) here</a>. You can also find a text chat in
    Discord in the #help-desk channel.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="activeModal.dismiss('Close click')">
    Close
  </button>
</div>
