.callout-box {
    background: rgba(116, 171, 244, 0.4);

    .callout-box-title {
        text-align: center;
        font-size: 3rem;
        font-weight: 200;
    }

    .callout-box-body {
        font-size: 2rem;
    }
}