.jumbotron {
    background: url(/assets/images/giant_duck.jpg) no-repeat;
    background-size: cover;
    height: 600px;

    .side-container {
        padding-left: 30%;
        margin-top: -50px;
    }
}