<li class="program_item list-group-item list-group-item-action"  (click)="toggleExpand($event)" [ngClass]="{'expanded': expanded}" tabindex="0" role="button" (keydown.enter)="toggleExpand($event)">
  <div class="icons">
    <div class="icon" *ngIf="showStar" (click)="onStarClick($event)" (keydown.enter)="onStarClick($event)" tabindex="0" role="button" aria-label="star for {{event.title}}">
      <ng-container *ngIf="event.starred; else inactive">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-star-fill star" viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg>
      </ng-container>
      <ng-template #inactive>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-star star" viewBox="0 0 16 16">
          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
        </svg>
      </ng-template>
    </div>
    <div class="icon" *ngIf="event.captioned">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-badge-cc-fill captioned" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm3.027 4.002c-.83 0-1.319.642-1.319 1.753v.743c0 1.107.48 1.727 1.319 1.727.69 0 1.138-.435 1.186-1.05H7.36v.114c-.057 1.147-1.028 1.938-2.342 1.938-1.613 0-2.518-1.028-2.518-2.729v-.747C2.5 6.051 3.414 5 5.018 5c1.318 0 2.29.813 2.342 2v.11H6.213c-.048-.638-.505-1.108-1.186-1.108zm6.14 0c-.831 0-1.319.642-1.319 1.753v.743c0 1.107.48 1.727 1.318 1.727.69 0 1.139-.435 1.187-1.05H13.5v.114c-.057 1.147-1.028 1.938-2.342 1.938-1.613 0-2.518-1.028-2.518-2.729v-.747c0-1.7.914-2.751 2.518-2.751 1.318 0 2.29.813 2.342 2v.11h-1.147c-.048-.638-.505-1.108-1.187-1.108z"/>
      </svg>
    </div>
  </div>
  <div class="content">
    <div class="item_base">
      <h6 class="title" [ngClass]="{'font-weight-bold': expanded, 'bigger': showDatetime}">{{event.title}}</h6>
      <h6 class="title" [ngClass]="{'font-weight-bold': expanded}" *ngIf="showDatetime">{{event.getTimeString()}} {{event.getDateString()}}</h6>
      <div>
        <span class="loc text-muted">Location: <span>{{event.location}}</span> </span>&ngsp;
      </div>
      <div *ngIf="!alwaysExpanded" class="floating expando">
        <svg *ngIf="expanded" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
        <svg *ngIf="!expanded" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>
    </div>
    <div class="extra" *ngIf="expanded">
      <app-room-link-other href="https://mit.zoom.us/j/98089460580?pwd=Y2pPbzd1VWdkLzdoR1JQeVpSdHJzZz09" *ngIf="event.id === '281'">Join Zoom Meeting</app-room-link-other>
      <span class="links" [ngSwitch]="event.location.length && event.location[0]">
        <ng-container *ngSwitchCase="'LARP'">
          <app-room-link-other [href]="event.location[1]">Sign Up for Larp</app-room-link-other>
          <app-room-link-other [href]="'https://discord.com/channels/743094117554454599/795432881094656020'">Join LARP</app-room-link-other>
        </ng-container>
        <ng-container *ngSwitchCase="'Gaming'">
          <app-room-link-other [href]="event.location[2]">Sign Up for Game</app-room-link-other>
          <app-room-link-other [href]="event.location[1]">Join Game</app-room-link-other>
        </ng-container>
        <app-room-link-other [href]="'/events'" *ngSwitchCase="'Performance Hall'">View in the Performance Hall</app-room-link-other>
        <ng-container *ngSwitchDefault>
          <ng-container *ngIf="showDoors">
            <app-room-link [id]="event.id"></app-room-link>
            <app-room-link-host [id]="event.id"></app-room-link-host>
          </ng-container>
        </ng-container>
      </span>

      <div class="item_tag text-muted" *ngIf="event.track">Track: <span>{{event.track}}</span></div>
      <div class="item_tag text-muted" *ngIf="event.type">Type: <span>{{event.type}}</span></div>
      <div class="item-people mt-2">
        <ng-container *ngFor="let person of event.people; last as isLast">
          <a href="/schedule/people/person/{{person.person.id}}"
             >{{person.person.name}}<ng-container *ngIf="person.isModerator"
                                                  > (moderator)</ng-container>
          </a>
          <ng-container *ngIf="!isLast">,&nbsp;</ng-container>
        </ng-container>
      </div>
      <p class="mt-2" [innerHTML]="event.description | sanitizeHtml | linkify"></p>
    </div>
  </div>
</li>
