.pill {
    margin-left: 0.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.pills {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-grow: 1;
}

.header {
    line-height: 1.8rem;
    font-weight: bold;
}

:host {
    display:block;
    white-space: nowrap;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 1rem;
}

.filter-section {
    margin-bottom: 0.5rem;
    display: flex;
    position: relative;
}

.expando {
//    position: absolute;
//    padding-right: 1rem;
    padding-top: .375rem;
    //    height: 1rem;
//    width: 1rem;
}

.clear-filter {
    cursor: pointer;
    font-size: 0.625rem;
    margin-left: 0.875rem;
}

.header-section {
    padding: 0.75rem 1.25rem;
    position: relative;
    cursor: pointer;
}

.expanded {
    padding: 0 1.25rem 0.75rem;

}

.pills-and-expando {
    display:flex;
    align-items: flex-start;
}
