<div class="row">
    <div class="col-4">
        <div class="card">
            <h6 class="card-header">Day</h6>
            <ul class="list-group list-group-flush">
              <li *ngFor="let day of days"
                  (click)="onDate(day)"
                  class="list-group-item list-group-item-action filter_item"
                  [class.active]="dateFilters.includes(day)"
                  >{{dayWeekday[day]}}</li>
              <li (click)="onNow()"
                  class="list-group-item list-group-item-action filter_item"
                  [class.active]="nowFilter"
                  >Now</li>
            </ul>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <h6 class="card-header">Location</h6>
            <ul class="list-group list-group-flush">
              <li *ngFor="let location of scheduleService.locations$ | async"
                  (click)="onChange($event, LOC, location)"
                  class="list-group-item list-group-item-action filter_item">
                {{location}}
              </li>
            </ul>
        </div>
    </div>
</div>
