<div class="row">
    <div class="col-4">
        <div class="card">
            <h6 class="card-header">Day</h6>
            <ul class="list-group list-group-flush">
                <li (click)="onChange($event, DATE, '2014-01-17')" class="list-group-item list-group-item-action filter_item">Friday</li>
                <li (click)="onChange($event, DATE, '2014-01-18')" class="list-group-item list-group-item-action filter_item">Saturday</li>
                <li (click)="onChange($event, DATE, '2014-01-19')" class="list-group-item list-group-item-action filter_item">Sunday</li>
                <li (click)="onChange($event, DATE, '2014-01-20')" class="list-group-item list-group-item-action filter_item">Monday</li>
            </ul>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <h6 class="card-header">Location</h6>
            <ul class="list-group list-group-flush">
                <li (click)="onChange($event, LOC, '3W')" class="list-group-item list-group-item-action filter_item">3W</li>
                <li (click)="onChange($event, LOC, '3E')" class="list-group-item list-group-item-action filter_item">3E</li>
                <li (click)="onChange($event, LOC, '2')" class="list-group-item list-group-item-action filter_item">2</li>
                <li (click)="onChange($event, LOC, '1W')" class="list-group-item list-group-item-action filter_item">1W</li>
                <li (click)="onChange($event, LOC, '1E')" class="list-group-item list-group-item-action filter_item">1E</li>
            </ul>
        </div>
    </div>
</div>
