<app-breadcrumb></app-breadcrumb>
<div class="row">
  <ng-container *ngIf="room$ | async as room; else elseBlock">
    <div class="d-none d-md-block col-md-3 col-lg-5">
      <div class="art-row">
        <img [src]="room.art" class="art">
      </div>
    </div>
    <div class="col-12 col-md-9 col-lg-6">
      <div class="title centered">Welcome to {{room.name | titlecase}}!</div>
      <ng-container *ngIf="room.runningEvents$ | async as runningEvents">
        <ng-container *ngIf="runningEvents.current as currentEvent">
          <div class="description current-name"><span class="happening-now">Happening now:&ngsp;</span><span class="event-title">{{currentEvent.title}}</span></div>

          <div class="description current-panelists">{{currentEvent | programItemPanelists}}</div>

          <div class="description current-description">{{currentEvent.description}}</div>

          <div class="description present-zoom-link"><app-room-link [id]="currentEvent.id">Join the panel in Zoom</app-room-link></div>

          <ng-container *ngIf="room.name !== 'Fast Track'">
            <a href="https://discord.gg/arisia21" target="_blank"><img class="discord-logo" src="/assets/images/Discord-Logo+Wordmark-Color.svg"></a>
            <div class="description present-discord">Ask questions on Discord: {{room.name | titlecase}}</div>
          </ng-container>
          <div class="description"><app-room-link-host id="currentEvent.id">Join as co-host</app-room-link-host></div>
        </ng-container>
        <ng-container *ngIf="!runningEvents.current as currentEvent">
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
<div>
  Have feedback about a panel?
  <span class="space">&ngsp;</span><a href="https://www.arisia.org/ProgrammingFeedback" target="blank_">Click here for the panel feedback survey</a>.
  <span class="space">&ngsp;</span><a href="https://www.arisia.org/Brainstorm-Programming" target="blank_">You can also submit ideas for programming at Arisia 2022 here</a>.

</div>
<ng-template #noEvent><div>No current Event.</div></ng-template>
<ng-template #elseBlock><div>Loading or error.</div></ng-template>
