<!--<app-carousel [images]="images"></app-carousel> -->
<div class="placeholder">
    <p>People are still getting changed into their costumes! Check back later. </p>


    <p>Email us your pic at <a href="mailto:hallcostumes@arisia.org" target="_blank">hallcostumes@arisia.org</a>. Please include how you would like the photo to be credited and captioned. </p>
    <p><span class="small">By sending pictures to this address, you agree that you are the person in the photograph, and you give permission to Arisia, Inc. to use your name and photo on its website and/or social media. All pics should be family friendly.</span></p>
</div>
