<div class="row">
    <div class="col-md-3 col-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-12 order-2 order-md-1">
        <app-signup></app-signup>
    </div>
    <div class="col-12 col-md-9 order-1 order-md-2">
        <div class="row">
            <div class="col-12 col-sm-6">
                <app-link backgroundImage="assets/images/gaming/d8.png" color="black" url="/gaming/tabletop">Game Tables:<br />Open Play</app-link>
            </div>
            <div class="col-12 col-sm-6">
                <app-link backgroundImage="assets/images/gaming/d10.png" url="/gaming/video" centerLine="56%">Video Game<br />Room</app-link>
            </div>
            <!--
            <div class="col-12 col-sm-6">
                <app-link backgroundImage="assets/images/gaming/d12.png" url="/gaming/larp">LARP Sign Ups<br/>& Checkin</app-link>
            </div>
            <div class="col-12 col-sm-6">
                <app-link backgroundImage="assets/images/gaming/d6.png" url="/gaming/special">Game Tables:<br />Special Events</app-link>
            </div>-->
        </div>
        <!--<app-dropin></app-dropin>-->
    </div>
</div>
<!--
<div class="door-dragon">
</div>
<div>
    <h1>Gaming is still getting set up!</h1>
</div>
-->
