<app-breadcrumb></app-breadcrumb>
<div class="row">
    <div class="col-md-3 col-12 order-2 order-md-1">
        <app-signup></app-signup>
    </div>
    <div class="col-md-3 order-1 order-md-2">
        <div class="d-flex flex-column flex-wrap dice-box">
            <app-dropin></app-dropin>
            <app-link backgroundImage="assets/images/gaming/d8.png" color="black" routerLink="/gaming/tabletop">Game Tables:<br />Open Play</app-link>
            <app-link backgroundImage="assets/images/gaming/d10.png" routerLink="/gaming/video" centerLine="56%">Video Game<br />Room</app-link>
            <app-link backgroundImage="assets/images/gaming/d12.png" routerLink="/gaming/larp" class="pull-left">LARP Sign Ups<br/>& Checkin</app-link>
            <app-link backgroundImage="assets/images/gaming/d6.png" routerLink="/gaming/special">Game Tables:<br />Special Events</app-link>
        </div>
    </div>
    <div class="col-md-3 offset-md-3 order-3">
        <b>TODO up now and next</b>
    </div>
</div>
