<div class="map-container row">
    <div class="col-3">
        <div class="row">
            <app-map-link routerLink="/artshow">Art Show</app-map-link>
        </div>
        <div class="row">
            <app-map-link routerLink="/gaming">Gaming</app-map-link>
        </div>
        <div class="row">
            <app-map-link routerLink="/dealers">Dealer's Room</app-map-link>
        </div>
        <div class="row">
            <app-map-link routerLink="/discord">Social Areas</app-map-link>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <app-map-link [circle]=true>Info/Help</app-map-link>
        </div>
        <div class="row">
            <app-map-link [circle]=true>Safety</app-map-link>
        </div>
        <div class="row">
            <app-map-link [circle]=true>IRT</app-map-link>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <app-map-link [height]=3>Costume Feed</app-map-link>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <app-map-link routerLink="/events">Performance Hall</app-map-link>
        </div>
        <div class="row">
            <app-map-link routerLink="/programming">Programming</app-map-link>
        </div>
        <div class="row">
            <app-map-link [height]=2 routerLink="/featured">Featured Events</app-map-link>
        </div>
    </div>
    
</div>