@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.map-container {
    margin: 0;
    margin-top: 0.625rem;
}

.aspect-ratio {
  position: relative;
  width: 100%;

  &::before {
    display: block;
    padding-top: 50%;
    content: "";
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.aspect-ratio.ribbon {
    &::before {
        padding-top: 44.6%;
    }
}

.aspect-ratio.desk {
    &::before {
        padding-top: 60.8%;
    }
}

.aspect-ratio.hall {
    &::before {
        padding-top: 150%;
    }
}

.map-entry {
    margin: 0.5rem;
}

.hall-header {
    width:100%;
    height: 3rem;
    margin-bottom: -2.375rem;
    background: rgba(56, 167, 202, 0.25);
    border: 1px solid #006382;
    border-bottom: none;
    position: relative;
}

.hall {
    margin-top: 2.375rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-right: 0.625rem;
}

.coffee {
    padding: 0.1875rem;
    position: absolute;
    left: 0.625rem;
    height: 3rem;
    width: 3rem;
}

$coffee-text-left: 3.4375rem;

.coffee-text {
    width: calc(100% - #{$coffee-text-left});
    position: absolute;
    left: $coffee-text-left;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}



.ribbon-padding {
    padding-top: 1.25rem;
}

.xl-text {
    font-size: 3rem;
    @include media-breakpoint-only(lg) {
        font-size: 2rem;
    }
    @include media-breakpoint-only(md) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-only(sm) {
        font-size: 2.5rem;
    }
}

.large-text {
    font-size: 2.25rem;
    @include media-breakpoint-only(lg) {
        font-size: 2rem;
    }
    @include media-breakpoint-only(md) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-only(sm) {
        font-size: 2rem;
    }
}

.medium-text {
    font-size: 1.5rem;
    line-height: 1.75rem;
    @include media-breakpoint-only(lg) {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    @include media-breakpoint-only(md) {
        font-size: 1rem;
        line-height: 1rem;
    }
    @include media-breakpoint-only(sm) {
        line-height: 1.5rem;
    }
}

.small-medium-text {
    font-size: 1.375rem;
    @include media-breakpoint-only(lg) {
        font-size: 1.125rem;
    }
    @include media-breakpoint-only(md) {
        font-size: 0.8rem;
    }
    @include media-breakpoint-only(sm) {
        font-size: 1.25rem;
    }
}

.small-text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    @include media-breakpoint-only(lg) {
        font-size: 1.125rem;
        line-height: 1.25rem;
    }
    @include media-breakpoint-only(md) {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    @include media-breakpoint-only(sm) {
        font-size: 1.25rem;
    }
}

@include media-breakpoint-up(sm) {
    .column-1 {
        order: 1;
    }
    .column-2 {
        order: 2;
    }
    .column-3 {
        order: 3;
    }
    .column-4 {
        order: 4;
    }
}

.hall-box {
    height: 100%;
    width: 100%;
    border: 1px solid #006382;
    border-top: none;
    position: relative;
    background: rgba(56, 167, 202, 0.25);
}

.hall-text {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 1rem;
    @include media-breakpoint-only(lg) {
        font-size: 0.8rem;
    }
    @include media-breakpoint-only(md) {
        font-size: 0.6rem;
    }
    @include media-breakpoint-only(sm) {
        font-size: 0.8rem;
    }
}

.hall-title {
    font-size: 1.25rem;
    @include media-breakpoint-only(lg) {
        font-size: 1rem;
    }
    @include media-breakpoint-only(md) {
        font-size: 0.8rem;
    }
    @include media-breakpoint-only(sm) {
        font-size: 1rem;
    }
}

.hall-legal {
    font-size: 0.75rem;
    @include media-breakpoint-only(lg) {
        font-size: 0.5rem;
    }
    @include media-breakpoint-only(md) {
        font-size: 0.5rem;
    }
    @include media-breakpoint-only(sm) {
        font-size: 0.5rem;
    }
}
