<div class="map-container row">
    <div class="col-6 col-md-3">
        <div class="row">
            <app-link routerLink="/artshow">Art Show</app-link>
        </div>
        <div class="row">
            <app-link routerLink="/gaming">Gaming</app-link>
        </div>
        <div class="row">
            <app-link routerLink="/dealers">Dealer's Room</app-link>
        </div>
        <div class="row">
            <app-link routerLink="/discord">Social Areas</app-link>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="row">
            <app-link circle=true (click)="openInfodesk()">Info/Help</app-link>
        </div>
        <div class="row">
            <app-link circle=true (click)="openSafety()">Safety</app-link>
        </div>
        <div class="row">
            <app-link circle=true (click)="openIrt()">IRT</app-link>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="row" style="height: 29rem">
          <app-hall-costumes>Costume Feed</app-hall-costumes>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="row">
            <app-link routerLink="/events">Performance Hall</app-link>
        </div>
        <div class="row">
            <app-link routerLink="/programming">Programming</app-link>
        </div>
        <div class="row">
            <app-featured-events></app-featured-events>
        </div>
    </div>
    
</div>
