<ng-container *ngIf="creator">
  <app-breadcrumb [crumbsOverride]="crumbsOverride" [lastCrumbText]="creator.name"></app-breadcrumb>
  <div class="row creator-page">
    <div class="col-sm-4 col-12">
      <h3>{{creator.name}}</h3>
      <p>{{creator.description ? creator.description : creator.summary}}</p>
      <div class="list-group" *ngIf="creator.links">
        <a href="{{item.value}}" target="blank" class="list-group-item list-group-item-action" *ngFor="let item of linksToDisplay | keyvalue">{{nameFromLinkType(item.key)}}</a>
      </div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="aspect-ratio-box">
        <div class="aspect-ratio-helper">
        </div>
        <div class="aspect-ratio-contents">
          <app-carousel [images]="carouselImages" [autoplay]="false"></app-carousel>
        </div>
      </div>
    </div>
  </div>
</ng-container>
