<div class="container">
  <div class="content">
    <div class="text-box">
      <div>Site <u><a routerLink="/credits">created by the Arisia 2021 remote division</a></u> copyright 2020-2021 <u><a href="https://corp.arisia.org/" target="_blank">Arisia Inc.</a></u></div>
      <div>Images copyright by their artists, used with permission. Arisia and the Arisia Lens are service marks of Arisia, Inc. <u><a href="https://corp.arisia.org/corplegal" target="_blank">Legal Notice</a></u></div>
    </div>
    <a href="http://discord.gg/arisia21" target="_blank"><img class="discord" src="/assets/images/Discord-Logo-White.svg"></a>
    <a href="https://arisia.org/" target="_blank"><img class="arisia" src="/assets/images/arisia-org-logo.png"></a>
    <div class="text-box">
      <div class="right-side">
        <div>By attending Arisia, you agree to abide by the <u><a href="https://www.arisia.org/Code-of-Conduct" target="_blank">Arisia Code of Conduct</a></u>.</div>
        <div>To report an incident or Code of Conduct violation, <u><a href="https://www.arisia.org/Contact" target="_blank">click here</a></u>.</div>
        <div>For help or questions, please <u><a href="https://www.arisia.org/Contact" target="_blank">contact us</a></u>. You can also <u><a href="https://www.arisia.org/Feedback" target="_blank">give feedback here</a></u>.</div>
      </div>
    </div>
  </div>
</div>
